# config/protocols.yml
# Protocol-specific global settings

protocols:
  modbus:
    default_timeout: 3.0
    default_retries: 3
    unit_id_range: [1, 247]

  iec104:
    default_t1: 15
    default_t2: 10
    default_t3: 20
    default_k: 12
    default_w: 8

  s7:
    default_rack: 0
    default_slot: 1
    pdu_size: 480

  opcua:
    default_security_mode: None
    default_security_policy: None
    session_timeout: 3600000

adapters:
  pymodbus_3114:
    library: pymodbus
    version: 3.11.4
    features:
      - tcp_server
      - simulator
      - async_support

  c104_221:
    library: c104
    version: 2.2.1
    features:
      - server
      - client
      - async_support

  snap7_202:
    library: snap7
    version: 2.0.2
    features:
      - server
      - client

  opcua_asyncua_118:
    library: asyncua
    version: 1.1.8
    features:
      - server
      - client
      - async_support
